@use '../../styles/constants/colors' as color;
@use '../../styles/mixins/position';
@use '../../styles/mixins/flexbox';
@use '../../styles/mixins/animation';
@use '../../styles/constants/levels' as idx;

.todoList {
  input[type='text'] {
    width: 100%;
    height: 30px;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid color.$PURPLE;
    transition: 0.2s all;
  }

  .todoInner {
    height: 250px;
    overflow: scroll;
  }
}

.todoElement {
  width: 100%;
  height: 40px;
  padding-left: 1rem;
  line-height: 40px;
  background: color.$WHITE;
  border-radius: 12px;
  @include flexbox.flexbox('between', 'center');

  > .checkboxWrapper {
    width: 100%;
    @include flexbox.flexbox('start', 'center');

    p {
      max-width: 170px;
      overflow: hidden;
      line-height: 40px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  > .todoDeleteBtn {
    width: 30px;
    height: 100%;
    color: color.$WHITE;
    background: color.$RED;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  & + & {
    margin-top: 0.5rem;
  }

  input[type='checkbox'] {
    z-index: idx.$CHECK_BOX;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: 2px solid color.$PURPLE;

    &:checked {
      background: color.$APP_BACKGROUND;
      border: none;
      outline: 2px solid color.$APP_BACKGROUND;

      ~ svg {
        color: color.$WHITE;
        opacity: 1;
      }
    }
  }

  svg {
    z-index: idx.$CHECK_ICON;
    color: color.$WHITE;
    pointer-events: none;
    opacity: 0;
    transform: translate(-100%, 0%);
  }

  input[type='checkbox']:checked ~ p {
    color: color.$GRAYA;
    text-decoration: line-through;
  }
}
