@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.todoList {
  position: relative;
  width: 100%;
  height: 100%;

  h1 {
    font-size: 32px;
    font-weight: 600;
    color: colors.$BIG_TITLE;
  }

  .tasksTitle {
    margin: 30px 0 24px;
    font-size: 12px;
    font-weight: 600;
    color: colors.$TASKS_TITLE;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .addButton {
    @include position.absolute(auto 0 40px auto);
    width: 66px;
    height: 66px;
    background-color: colors.$BLUE;
    border-radius: 50%;
    box-shadow: 0 10px 20px 0 rgba(colors.$BLACK, 15%);
    transition: 0.2s;

    &:hover {
      background-color: rgba(colors.$BLUE, 90%);
    }

    &::before,
    &::after {
      @include position.middleBox;
      width: 20px;
      height: 2px;
      content: '';
      background-color: colors.$WHITE;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
      transform-origin: center;
    }
  }
}
