@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.wrapper {
  @include flexbox.flexbox('center', 'center');
  @include position.middleBox;
  flex-direction: column;
  width: 350px;
  height: 720px;
  padding: 30px;
  background: colors.$WRAPPER_BACKGROUND;
  border-radius: 36px;

  .closeBtn {
    @include position.absolute(0 15px 0 auto);
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    transform: translate(0%, 50%);
  }

  .content {
    font-size: 1.15rem;

    &:hover {
      color: colors.$WHITE;
      background-color: colors.$BLACK;
    }
  }

  .formWrapper {
    padding-bottom: 50px;

    .date {
      padding: 10px;
      margin-bottom: 10px;
      font-size: 1.3rem;

      &:hover {
        color: colors.$WHITE;
        background-color: colors.$BLACK;
      }
    }

    input[type='text'] {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border-bottom: 2px solid colors.$PURPLE;
      box-shadow: 0 5px 6px -6px colors.$PURPLE;
    }
  }

  .pin {
      @include position.absolute(300px 0 100px 80px);
      height: 16px;
  }
}

.calWrapper {
  @include position.middleBox;

  .calendar {
    width: 255px;
    border-radius: 10px;
  }
}
