@use '/src/styles/constants/sizes' as size;
@use '/src/styles/mixins/flexbox' as flexbox;
@use '/src/styles/constants/colors' as colors;

.container {
  height: 50px;
  @include flexbox.flexbox(start, center);
}

.largeContainer {
  height: 70px;
}

.title {
  font-size: size.$TEXT_GRAY_SIZE;
  letter-spacing: 1.5px;
  font-weight: 700;
  color: colors.$TEXT_GRAY;
}

.largeTitle {
  letter-spacing: 0;
  font-size: size.$TEXT_DARK_SIZE;
  color:colors.$TEXT_DARK;
}

