@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';
@use '/src/styles/mixins/position';
@use '/src/styles/mixins/flexbox';

.todoModal {
  z-index: 100;
  width: 300px;
  min-height: 180px;
  padding: 30px;
  background-color: colors.$WHITE;
  border-radius: 20px;

  input[type='text'] {
    width: 100%;
    padding: 10px;
    border: 1px solid colors.$GRAY3;
  }
}
