@use '../../styles/mixins/flexbox';
@use '../../styles/constants/colors';

.todoHeader{
  padding-bottom:20px;
  .headerBtns {
    margin-bottom: 1rem;
    @include flexbox.flexbox('between', 'center');
    border: 2px solid colors.$GRAYD;
    border-radius: 0.5rem;
    padding:5px 10px;
  
    input[type=text] {
      width: 100%;
      padding:5px;
    }
  }
}
