@use '/src/styles/constants/colors';

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 720px;
  padding: 60px 30px 0;
  background-color: colors.$OVERLAY;
  border-radius: 36px;
  transform: translate(-50%, -50%);
}
