@use '../../styles/constants/colors' as color;
@use '../../styles/mixins/position';
@use '../../styles/mixins/flexbox';
@use '../../styles/constants/levels' as idx;

.addModal {
  // @include position.absolute(auto auto auto auto);
  @include flexbox.flexbox('center', 'center');
  @include position.middleBox;
  position: absolute;
  z-index: idx.$CHECK_BOX;
  flex-direction: column;
  width: 350px;
  height: 90vh;
  padding: 30px;
  background: color.$WRAPPER_BACKGROUND;
  border-radius: 36px;

  h3 {
    margin-bottom: 2rem;
    font-size: 24px;
  }

  .closeBtn {
    @include position.absolute(0 15px 0 auto);
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    transform: translate(0%, 50%);
  }

  .pin {
    @include position.absolute(0 80px 80px auto);
  }

  .addTodoInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-bottom: 2px solid color.$PURPLE;
    box-shadow: 0 5px 6px -6px color.$PURPLE;
  }
}
