@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';
@use '/src/styles/mixins/position';
@use '/src/styles/mixins/flexbox';

.todoModal {
  @include flexbox.flexbox(center, center);
  width: 100px;
  height: 100px;
  border: 1px solid colors.$GRAYD;
}
