@use "/src/styles/constants/colors" as colors;
@use "/src/styles//constants/sizes" as sizes;
@use "/src/styles/mixins/flexbox" as flexbox;

.container {
  height: 45px;
  @include flexbox.flexbox('between', center);
}

.menuIcon {
  color:colors.$GRAY1;
  cursor: pointer;
}

.icon_wrapper {
  color:colors.$GRAY1;
}

.searchIcon {
  margin-right: 30px;
  top:3px;
  position:relative;
  cursor: pointer;
}

.alarmIcon {
  cursor: pointer;
}