@use '../../styles/constants/colors' as color;

.modal {
  position: absolute;
  top: 25px;
  right: 0;
  font-size: 0;
  background-color: color.$APP_BACKGROUND;
  border-radius: 10px;

  &__button {
    display: block;
    width: 70px;
    height: 20px;
    margin: 0 auto;
    font-size: 12px;
    color: color.$GRAYA;
  }
}
